<div class="main-view">
  <div class="main-view_search">
    <i class="fa fa-search" aria-hidden="true">
              <input type="text" name="search" 
              placeholder="Search albums, artists or tracks" />
            </i>
    <div class="btn-group" role="group" aria-label="filter">
      <button type="button" class="btn btn-default">Album</button>
      <button type="button" class="btn btn-default">Artist</button>
    </div>
  </div>

  <div class="main-view_result-list">
    <div class="main-view_list-item" ng-repeat="item in main.results track by item.id">
      <div clas="item_preview"><img src="https://placehold.it/100x100" /></div>
      <div class="item_type" ng-bind="item.type"></div>
      <div class="item_name" ng-bind="item.name"></div>
      <div class="item_artists">
        <span class="artist" ng-repeat="artist in item.artists" ng-bind="artist.name"></span>
      <div>
    </div>
  </div>
</div>